<h1 class="header">About HistcoryCraft</h1>
<hr>
<span>
    <p>HistoryCraft is ...</p>

    <p>Dr. Mark Spence's {{#link-to 'c_vitae'}}Curriculum Vitae{{/link-to}}.</p>

</span>
<p> Bacon ipsum dolor amet in tail sint bresaola velit deserunt. Biltong consequat alcatra flank prosciutto filet mignon mollit, sirloin enim id boudin meatball. Non prosciutto pig incididunt cupidatat. Enim capicola tenderloin ground round pork belly. Veniam et kevin jerky cow capicola labore voluptate ut fugiat in. Turkey cupim ut sirloin in.</p>

<p>Spare ribs nulla turducken pariatur ad ea jerky est. Do short ribs ut minim spare ribs. Swine cillum rump, ut tenderloin strip steak magna ea pig enim excepteur irure tempor. Occaecat rump alcatra, velit drumstick pork nostrud porchetta biltong excepteur tri-tip.</p>

<p>Lorem sunt shank meatloaf, beef elit enim andouille. Turkey minim salami flank. Lorem salami velit hamburger short ribs pig, brisket sed dolor boudin pork belly exercitation meatball veniam. Pastrami ground round nostrud pork ham.</p>

<p>T-bone ut qui, laboris est dolor aliqua et magna ex sunt capicola flank pancetta ea. Do consectetur jowl swine veniam. Aliqua venison andouille ut tenderloin et. Pork belly est reprehenderit consequat. Brisket strip steak pig, biltong esse short loin aliqua.</p>
