<h1 class="header">Welcome to HistoryCraft!</h1>
<hr>
<!-- Image Slider -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                      </ol>

                    <!-- Wrapper for Slides -->

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/parks/NPS_DevilsTower.jpg" alt="Devils Tower">
                            <p class="carousel-caption">Devil's Tower National Park</p>
                            <b class="srt">Devil's Tower National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_Glacier.jpg" alt="Glacier">
                            <p class="carousel-caption">Glacier National Park</p>
                            <b class="srt">Glacier National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_LewisClark.jpg" alt="Lewis & Clark">
                            <p class="carousel-caption">Lewis & Clark National Park</p>
                            <b class="srt">Lewis & Clark National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_Redwood.jpg" alt="Redwood">
                            <p class="carousel-caption">Redwood National Park</p>
                            <b class="srt">Redwood National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_RiverRaisin.jpg" alt="River Raisin">
                            <p class="carousel-caption">River Raisin National Park</p>
                            <b class="srt">River Raisin National Park</b></div>
                        <div class="item">
                            <img src="images/parks/NPS_WindCave.jpg" alt="Wind Cave">
                            <p class="carousel-caption">Wind Cave National Park</p>
                            <b class="srt">Wind Cave National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_Yellowstone.jpg" alt="Yellowstone">
                            <p class="carousel-caption">Yellowstone National Park</p>
                            <b class="srt">Yellowstone National Park</b>
                        </div>
                        <div class="item">
                            <img src="images/parks/NPS_Yosemite.jpg" alt="Yosemite">
                            <p class="carousel-caption">Yosemite National Park</p>
                            <b class="srt">Yosemite National Park</b>
                        </div>
                    </div>

                    <!-- End Wrapper for Slides -->

                    <!-- Controls for Slider -->

                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
        </div>     <!-- Div for parks-slider -->


    <!-- End Image Slider -->
        <div class="row">
            <div class="col-md-8 panel">
                <hr>
                <p> Bacon ipsum dolor amet in tail sint bresaola velit deserunt. Biltong consequat alcatra flank prosciutto filet mignon mollit, sirloin enim id boudin meatball. Non prosciutto pig incididunt cupidatat. Enim capicola tenderloin ground round pork belly. Veniam et kevin jerky cow capicola labore voluptate ut fugiat in. Turkey cupim ut sirloin in.</p>

                <p>Spare ribs nulla turducken pariatur ad ea jerky est. Do short ribs ut minim spare ribs. Swine cillum rump, ut tenderloin strip steak magna ea pig enim excepteur irure tempor. Occaecat rump alcatra, velit drumstick pork nostrud porchetta biltong excepteur tri-tip.</p>

                <p>Lorem sunt shank meatloaf, beef elit enim andouille. Turkey minim salami flank. Lorem salami velit hamburger short ribs pig, brisket sed dolor boudin pork belly exercitation meatball veniam. Pastrami ground round nostrud pork ham.</p>

                <p>T-bone ut qui, laboris est dolor aliqua et magna ex sunt capicola flank pancetta ea. Do consectetur jowl swine veniam. Aliqua venison andouille ut tenderloin et. Pork belly est reprehenderit consequat. Brisket strip steak pig, biltong esse short loin aliqua.</p>
            </div>
        </div>
    </div>

